{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="container text-center my-3">
    <h1>Elite Athlete Outlet Careers</h1>
    <p>At Elite Athlete Outlet, we are committed to providing exceptional customer service around the clock.</p>
    <p>Below are job opportunities and employee stories about working at Elite Athlete Outlet:</p>
</div>
    {% for career in career_list %}
    <div class="container my-3">
        <h3><a href="{% url 'career_detail' career.pk %}">{{career.name}}</a></h3>
        <h5>Job Description</h5>
        {{career.description}}
    </div>
    {% endfor %}
{% endblock %}