{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{% static 'images/baseball.png' %}" class="d-block w-100" alt="Baseball Sale">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'images/footballs.png' %}" class="d-block w-100" alt="More Baseball Deals">
    </div>
    <!-- Add more items here -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% endblock %}