{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container">
    <h1>Meet the Team</h1>
    
    <div class="team-member">
        <h2>Logan Knight</h2>
        <h3>About Logan:</h3>
        <p>Logan Knight, originating from London, Ontario, Canada, is a dynamic force in the tech world, showcasing a diverse skill set in software development, data analytics, and emerging technologies. Alongside his professional prowess, Logan is a dedicated advocate for digital inclusion and tech education, actively working to bridge gaps and empower underrepresented communities. His name represents innovation, integrity, and a steadfast commitment to driving positive change, making him a valuable asset to the tech industry and society at large.</p>
    </div>

    <div class="team-member">
        <h2>Grant Bittner</h2>
        <h3>About Grant:</h3>
        <p>Grant Bitner, a dynamic individual from Dickinson, North Dakota, is a passionate innovator with a drive for success in technology and entrepreneurship. He demonstrated an early interest in computer science, refining his skills through practical experience and education. Grant's expertise spans software development to digital marketing, showcasing his creative problem-solving abilities. Beyond his professional pursuits, he actively engages in community initiatives, mentoring tech enthusiasts and supporting local businesses. Grant's commitment to excellence and vision for empowerment make him a valuable asset in any endeavor.</p>
    </div>

    <div class="team-member">
        <h2>Lucas Boustead</h2>
        <h3>About Lucas:</h3>
        <p>Lucas Boustead, a tech enthusiast from Bismarck, North Dakota, specializes in website development, creating dynamic and user-friendly online experiences. His expertise extends to crafting visually captivating designs, optimizing performance, and ensuring seamless functionality across platforms. Apart from his technical prowess, Lucas is a strong advocate for accessibility and user-centric design, striving to make the web a more inclusive space. With a passion for innovation and a keen eye for detail, Lucas Boustead is a valuable asset to the digital landscape, enhancing online presence and user engagement with his skills and dedication.</p>
    </div>

    <div class="team-member">
        <h2>Avtonom Martushev</h2>
        <h3>About Avtonom:</h3>
        <p>
            Avtonom Martushev, known as "Scrub Master," is a master in his field, demonstrating unmatched expertise and dedication. From his meticulous attention to detail to his innovative problem-solving, Avtonom's work reflects a level of mastery that sets him apart. His mentorship and leadership further showcase his ability to inspire and guide others, solidifying his reputation as a true master in every aspect of his craft.</p>
    </div>
</div>
{% endblock %}

