{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
    <h1>About Elite Athlete Outlet</h1>
    <p>Welcome to Elite Athlete Outlet, your ultimate destination for premium sports gear and equipment!</p>
    <p>At Elite Athlete Outlet, we are passionate about helping athletes of all levels achieve their goals by providing top-quality products from leading brands.</p>
    <p>Our mission is to empower athletes with the tools they need to excel in their sport, whether it's professional training or recreational fitness.</p>
    <p>Explore our wide range of products, including apparel, footwear, accessories, and training equipment, all curated to meet the demands of elite performance.</p>
    <p>Join us in the pursuit of excellence and elevate your athletic journey with Elite Athlete Outlet!</p>
</div>
{% endblock %}
