{% extends "base_generic.html" %}
{% block content %}
<div class="container border my-3 p-2">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="col-md-9">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <form method="post">
                {% csrf_token %}
                <label for="color">Color:</label>
                <select class="form-select" id="color" name="color">
                    {% for color in colors %}
                        <option value="{{ color.name }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
                <label for="size">Size:</label>
                <select class="form-select" id="size" name="size">
                    {% for size in sizes %}
                        <option value="{{ size.name }}">{{ size.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
<a href="{% url 'cart' %}">Go to Cart</a>
{% endblock %}
