{% extends "base_generic.html" %}
{% block content %}

<h2>Select Product Variation</h2>
<form method="post">
    {% csrf_token %}
    <div class="container border my-3 p-2">
        <h3>{{ product.name }}</h3>

            <label for="color">Color:</label>
            <select name="color" id="color">
                {% for color in colors %}
                    {% if color %}
                        <option value="{{ color }}">{{ color }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>


            <label for="size">Size:</label>
            <select name="size" id="size">
                {% for size in sizes %}
                    {% if size %}
                        <option value="{{ size }}" data-color=""> {{ size }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="1">
        <br>
        <button type="submit">Add to Cart</button>
    </div>
    <a class="btn btn-primary" href="{% url 'cart' %}">Go to Cart</a>
</form>
{% endblock %}
