{% extends 'base_generic.html' %}
{% block title %}Create User{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_user.css' %}">
<div class="create-user-page">
    <form method="POST">
        {% csrf_token %}
        <h1 class="title">Create an account</h1>
        <div class="form-content">
            {{ form }}
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>
{% endblock %}