.carousel-item img {
  height: 45vh; /* You can keep this if you want to control the height of images */
}

.carousel {
  position: relative; /* Ensures it is positioned relative to nearest positioned ancestor */
  width: 100vw; /* Uses the viewport width unit to ensure it spans full width */
  left: 50%;
  right: 50%;
  margin-left: -50vw; /* Centers the carousel */
  margin-right: -50vw;
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}
