nav ul li {
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.chevron-link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid black;
  /* Chevron pointing down */
  margin-left: 5px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}

.container-fluid.for-body {
  padding-right: 0;
  padding-left: 0;
}
.dropdown:hover .chevron-link::after {
  transform: rotate(180deg);
  /* Flips the chevron when parent is hovered */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  margin-right: -20px;
}

.logo img {
  height: 12vh;
}

.cart-icon {
  height: 7vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  font-size: 30px;
  padding: 14px 16px;
  font-family: "Istok Web", sans-serif;
}

a.chevron::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  /* Adjust size as needed */
  border-right: 5px solid transparent;
  /* Adjust size as needed */
  border-top: 8px solid black;
  /* Chevron color and size */
  margin-left: 5px;
  /* Space between the link text and the chevron */
  transition: transform 0.3s ease;
  /* Smooth transition for rotate effect */
  vertical-align: middle;
  /* Aligns chevron with the text */
}

a.chevron:hover::after {
  transform: rotate(180deg);
  /* Flips the chevron */
}

.social-media a {
  margin-left: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
}

.icons-social img {
  height: 5vh;
  width: 5vh;
  margin-right: 15px;
}

html,
body {
  height: 100%;
  /* Ensure the html and body are full height */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling due to overflow */
}

body {
  display: flex;
  flex-direction: column;
  /* Stacks children vertically */
  min-height: 100vh;
  /* Minimum height of 100% of the viewport height */
}

footer {
  margin-top: auto;
  /* Automatically pushes the footer to the bottom */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.image-icons-search {
  height: 3vh;
}
