{% extends "base_generic.html" %}
{% block content %}
{% if cart_items %}
<div class="container border my-3 p-2">
    <h1>Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
                <th>Actions</th> <!-- New column for delete button -->
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product_variation }}</td>
                <td>${{ item.product_variation.product.price }}</td>
                <td style="white-space: nowrap;">
                    <form method="post" action="{% url 'update_cart' item.id %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </td>
                <td>${{ item.item_total }}</td>
                <td>
                    <form method="post" action="{% url 'delete_cart_item' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Price: ${{ total_price }}</p>
</div>
<div class="container my-3 p-2">
    <div class="row justify-content-end">
        <div class="col-auto">
            <form method="post" action="{% url 'create_order' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary my-2">Purchase</button>
            </form>
        </div>
    </div>
</div>
{% else %}
</div>
<div class="container border my-3 p-2">
    <h2>Your cart is empty.</h2>
    <a class="btn btn-primary my-2" href="{% url 'product_list' filter='All'%}">Go Shop</a>
</div>
{% endif %}
{% endblock %}